.homepage {
    display: flex;
    overflow: hidden;
}

.left-panel {
    flex: 1;
    overflow: auto;
}

/* mobile */
@media (max-width: 500px) {
    .right-panel {
        display: none;
    }
}

/* desktop */
@media (min-width: 501px) {
    .right-panel {
        flex: 1;
        overflow: auto;
    }
    .divider {
        width: 5px;
        background-color: #333;
        cursor: col-resize;
    }
}
table {
  table-layout: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  width: fit-content;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
